@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dFlex {
  display: flex;
}

header {
  max-width: 100%;
  background: linear-gradient(180deg, #121212 60%, #77777700 100%);
}

/* ======= Header Section style Start ======= */

.menu-toggle {
  display: none;
}

.header_container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav {
  padding: 20px 0;
}

.nav,
.menu {
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
}

.menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  gap: 20px;
  padding: 8px 6px;
}

.menu li {
  padding: 5px 10px;
  border-radius: 20px;

  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: rgb(230, 83, 60);
}

.menu li a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.menu li:first-child {
  background-color: rgb(230, 83, 60);
}

.menu li:first-child a {
  color: #fff;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

.menu-toggle {
  display: none;
}

.text_content {
  max-width: 600px;
}

.text_content h1 {
  font-size: 48px;
  line-height: 1.2;
}

.text_content .highlight {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  color: rgb(230, 83, 60);
}

.text_content p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  margin: 35px 0px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.join_btn,
.download_btn {
  padding: 15px 30px;
  border: none;
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
}

.join_btn {
  background-color: rgb(230, 83, 60);
  color: #fff;
}

.download_btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(230, 83, 60);
}

.image_content {
  position: relative;
}

.image_content img {
  max-width: 100%;
  border-radius: 10px;
}

.badge {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.top_badge span {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
.top_badge small {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
}

.top_badge {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 23%;
  right: -10%;
}

.bottom_badge > span:first-child {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(230, 83, 60);
}

.bottom_badge span {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
}

.bottom_badge small {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
}

.bottom_badge {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 1.3rem;
  left: -23%;
  bottom: 15%;

  display: flex;
  gap: 2rem;
  align-items: center;
}

/* ======= Header Section style End ======= */

/* ======= Change Habits Section style Start ======= */

.change_habits {
  margin-top: 50px;
  text-align: center;
  padding: 50px 0;
}

.change_habits h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: 900;
}
.change_habits p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.habit_boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.habit_box {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 231px;
  height: 274px;
  text-align: center;
}
.habit_box img {
  border-radius: 50%;
}

.habit_box h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}
.habit_box p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
/* ======= Change Habits Section style End ======= */

/* ======= Fitness Section style Start ======= */

.fitness_container {
  max-width: 1140px;
  margin: 50px auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  gap: 30px;
  padding: 50px;
}

.dFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 470px;
  padding: 0 20px;
}

.content h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}

.content p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 30px 0px;
}

.fitness_image {
  width: 485px;
  height: 340px;
  background-image: url(./images/run.jpg);
  background-size: auto;
  background-position: 68% 185%;
  border-radius: 20px;
}

.content_btn {
  color: #ffffff;
  padding: 12px 35px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  outline: none;
  cursor: pointer;
}
/* ======= Fitness Section style End ======= */

/* ======= Exercises Section style Start ======= */
.exercises_container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.exercises_content {
  width: 641px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 58px 0px; */
  margin-bottom: 35px;
}

.exercises_content h1 {
  font-family: Inter;
  font-size: 4.8rem;
  font-weight: 900;
  color: #ffffff;
  margin: 8px 0px;
}
.exercises_content p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  /* margin-bottom: 35px; */
}
.exercises_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  position: relative;
  color: white;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exercises_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.card:hover .exercises_overlay {
  opacity: 1;
}
.exercises_overlay h3 {
  margin: 0;
}
.green-overlay {
  background: rgba(0, 255, 0, 0.5);
}
.red-overlay {
  background: rgba(255, 0, 0, 0.5);
}
.blue-overlay {
  background: rgba(0, 0, 255, 0.5);
}
.wide_card {
  grid-column: span 2;
}

/* ======= Exercises Section style End ======= */

/* ======= BMI Calculator section style End ======= */

#bmi_section {
  width: 100%;
}
.bmi_main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 61px;
  background: transparent;
}

.section_title h2 {
  font-family: Inter;
  font-size: 4.8rem;
  font-weight: 900;
  color: #ffffff;
  margin-left: 18rem;
}

.section_title p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  margin-left: 18rem;
}

.wrapper {
  margin-top: 3rem;
  background-color: rgb(34, 34, 34);
  padding: 5rem 0;
}
.wrapper_container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.bmi_table {
  width: 420px;
}
.bmi_Calculator {
  width: 560px;
}

.bmi_title h4 {
  font-size: 3rem;
}
.bmi_table > table {
  width: 100%;
}
.bmi_table > table {
  margin-top: 3rem;
}
.bmi_table > table tr th {
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 600;
  border: 1px solid #ffffff80;
}
.bmi_table > table tr td {
  padding: 1rem;
  border: 1px solid #ffffff80;
  font-size: 1.6rem;
}

.bmi_Calculator > .bmi_title {
  max-width: 50rem;
}

.bmi_title p {
  color: #ffffff80;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.bmi_Calculator form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bmi_Calculator form div {
  display: flex;
  gap: 1rem;
}

.bmi_Calculator form input,
.bmi_Calculator form select,
.bmi_Calculator form label {
  border: none;
  outline: none;
  background-color: rgb(64, 64, 64);
  color: #ffffff;
  width: 100%;
  padding: 5px 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
}

.bmi-Calculator form input::placeholder {
  color: #ffffff;
}

.bmi-Calculator form button {
  margin-top: 2rem;
  border: none;
  outline: none;
  width: fit-content;
  cursor: pointer;
}

.btn {
  width: fit-content;
}
/* ======= BMI Calculator section style End ======= */

/* ======= Meet Our Section style Start ======= */
.meetOurTeam_container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.meetOurTeam_content {
  max-width: 550px;
  margin: 60px auto;
  text-align: center;
}
.meetOurTeam_content h3 {
  font-size: 50px;
  font-weight: 600;
}
.meetOurTeam_content p {
  color: #ffffff80;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
.meetOurTeam_imgMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 270px);
  gap: 20px;

  background-color: rgb(34, 34, 34);
  padding: 30px;
  border-radius: 10px;
}

.meetOurTeam_imgMain div {
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.meetOurTeam_imgMain div:nth-child(1) {
  background-image: url("./images/trainer1.png");
}
.meetOurTeam_imgMain div:nth-child(2) {
  background-image: url("./images/trainer2.png");
}
.meetOurTeam_imgMain div:nth-child(3) {
  background-image: url("./images/trainer3.png");
}
.meetOurTeam_imgMain div:nth-child(4) {
  background-image: url("./images/trainer4.png");
}
.meetOurTeam_imgMain div:nth-child(5) {
  background-image: url("./images/trainer5.png");
}
.meetOurTeam_imgMain div:nth-child(6) {
  background-image: url("./images/trainer6.png");
}

/* ======= Meet Our Section style End ======= */

/* ======= About Us Section style Start ======= */
.about_us_section {
  max-width: 1140px;
  margin: 50px auto;
  padding: 0 10px;

  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about_us_section h2 {
  text-align: center;
  color: rgb(230, 83, 60);
  font-size: 20px;
}

.about_us_section h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.intro_text {
  color: #ffffff80;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.about_image_container {
  flex: 1;
  margin-right: 20px;
}

.about_image {
  position: relative;
  overflow: hidden;
}

.about_image img {
  width: 100%;
  height: auto;
  display: block;
}

.about_text_container {
  color: #ffffff80;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  flex: 2;
}

.about_features {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about_feature {
  flex: 1;
}

.about_feature h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.about_feature p {
  color: #ffffff80;
  /* margin-top: 20px; */
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

/* ======= About Us Our Section style End ======= */

/* ======= Footer Section style Start ======= */
footer {
  margin-top: 90px;
  background: rgb(34, 34, 34);
}
.footer_container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_content h1 {
  color: rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
}
.footer_content p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.footer_lists h3,
.footer_pages h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

.footer_lists a,
.footer_pages a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
}

.copyRight {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  text-align: center;
}

.copyRight p {
  color: #ffffff80;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  padding: 20px 0px;
}

/* ======= Footer Section style End ======= */

/* *-*-*-*- Responsive For Tablet Device -*-*-*-*-* */

@media screen and (max-width: 768px) {
  .nav {
    padding: 20px 20px;
  }

  .buttons {
    justify-content: center;
  }
  .menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
  }

  .menu.active li {
    padding: 10px 0;
    text-align: center;
  }

  .main_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_content {
    max-width: 100%;
  }

  .image_content {
    margin-top: 20px;
    position: relative;
  }

  .top_badge {
    top: 10%;
    right: 5%;
  }

  .bottom_badge {
    bottom: 10%;
    left: 5%;
  }

  .join_btn,
  .download_btn {
    padding: 12px 24px;
  }

  .fitness_section h1 {
    font-size: 2rem;
  }

  .fitness_section p {
    font-size: 1rem;
  }

  .join_btn {
    padding: 10px 20px;
  }

  .exercises_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wide_card {
    grid-column: span 1;
  }

  .section_title h2,
  .section_title p {
    margin-left: 0px;
  }

  .wrapper_container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .btn {
    width: fit-content;
  }

  .about_content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about_image_container {
    /* margin-right: 0;
    margin-bottom: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about_text_container {
    flex: none;
    padding: 0px 15px;
  }

  /* .about_features {
    flex-direction: column;
  } */

  .about_feature {
    margin-bottom: 10px;
  }

  .footer_main {
    padding: 0px 15px;
  }
}

/* *-*-*-*- Responsive For Mobile Device -*-*-*-*-* */
@media screen and (max-width: 576px) {
  html {
    font-size: 42.5%;
  }

  .nav {
    padding: 20px 20px;
  }
  .menu {
    display: none;
  }

  .main_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_content {
    max-width: 100%;
  }

  .text_content h1 {
    font-size: 35px;
  }
  .text_content .highlight {
    font-size: 35px;
  }

  .text_content p {
    font-size: 1.9rem;
    margin: 20px 8px;
  }

  .buttons {
    justify-content: center;
    gap: 5px;
  }

  .join_btn,
  .download_btn {
    padding: 13px 20px;
  }

  .image_content {
    margin-top: 20px;
  }
  .top_badge {
    top: 23%;
    right: 0%;
  }
  .bottom_badge {
    bottom: 13%;
    left: -3%;
  }

  .download_btn {
    padding: 8px 10px;
  }

  .fitness_container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content h1 {
    font-size: 4.8rem;
  }
  .content p {
    font-size: 14px;
    font-weight: 400;
  }
  .fitness_image {
    width: 100%;
  }

  .content_btn {
    padding: 10px;
    width: 100%;
  }

  .change_habits h1 {
    font-size: 30px;
  }

  .change_habits p {
    font-size: 1.9rem;
  }

  .exercises_content {
    width: 100%;
    padding: 0px 10px;
  }

  .exercises_grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 15px;
    gap: 0;
  }

  .smallHidden {
    display: none;
  }

  .meetOurTeam_imgMain {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 270px);
  }

  .meetOurTeam_content h3 {
    font-size: 40px;
  }
  .meetOurTeam_content p {
    font-size: 14px;
  }

  .wide_card {
    grid-column: span 1;
  }

  .bmi_main {
    padding: 0px 8px;
  }
  .section_title h2,
  .section_title p {
    margin-left: 0;
  }
  .bmi_table,
  .bmi_Calculator {
    width: 100%;
  }

  .bmi_Calculator form div {
    flex-direction: column;
  }

  .btn {
    width: fit-content;
  }
  .wrapper_container {
    flex-direction: column;
    width: 100%;
  }

  .about_us_section {
    width: 95%;
    padding: 10px;
  }

  .about_features {
    text-align: left;
  }
  .about_feature {
    text-align: center;
  }

  .about_feature h3 {
    font-size: 13px;
  }
  .about_feature p {
    font-size: 11px;
  }

  footer {
    margin-top: 50px;
  }

  .footer_main {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 15px;
  }

  .footer_lists {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .footer_lists a,
  .footer_pages a {
    font-size: 14px;
  }

  .footer_lists h3,
  .footer_pages h3 {
    font-size: 3rem;
    font-weight: 500;
  }
  .copyRight p {
    padding: 20px 0px;
    font-size: 1.6rem;
  }
}
