@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dFlex {
  display: flex;
}

header {
  max-width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* ======= Header Section style Start ======= */

.menu-toggle {
  display: none;
}

.header_container {
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  padding: 20px 0;
}

.nav,
.menu {
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
}

.menu {
  gap: 20px;
}

.menu li {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: rgba(230, 83, 60, 0.2);
}

.menu li a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.menu li:first-child {
  background-color: rgb(230, 83, 60);
}

.menu li:first-child a {
  color: #fff;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

.text_content {
  max-width: 600px;
}

.text_content h1 {
  font-size: 48px;
  line-height: 1.2;
}

.text_content .highlight {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  color: rgb(230, 83, 60);
}

.text_content p {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
}

.buttons {
  display: flex;
  gap: 20px;
}

.join_btn,
.download_btn {
  padding: 15px 30px;
  border: none;
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
}

.join_btn {
  background-color: rgb(230, 83, 60);
  color: #fff;
}

.download_btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(230, 83, 60);
}

.image_content {
  position: relative;
}

.image_content img {
  max-width: 100%;
  border-radius: 10px;
}

.badge {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.top_badge span {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
.top_badge small {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
}

.top_badge {
  top: 23%;
  right: -10%;
}

.bottom_badge span {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
}

.bottom_badge small {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
}

.bottom_badge {
  bottom: 13%;
  left: -10%;
}

/* ======= Header Section style End ======= */

/* ======= Change Habits Section style Start ======= */

.change_habits {
  margin-top: 50px;
  text-align: center;
  padding: 50px 0;
}

.change_habits h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: 900;
}
.change_habits p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.change_habit p {
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-weight: 400;
  text-align: center;
}

.habit_boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.habit_box {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 231px;
  height: 274px;
  text-align: center;
}
.habit_box img {
  border-radius: 50%;
}

.habit_box h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
}
.habit_box p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
/* ======= Change Habits Section style End ======= */

/* ======= Fitness Section style Start ======= */

.fitness_container {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  gap: 30px;
  padding: 50px;
}

.dFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}

.content {
  padding: 0 20px;
}
.content p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0px;
}

.fitness_image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.join-btn {
  padding: 12px 35px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

/* ======= Fitness Section style End ======= */

/* *-*-*-*- Responsive For Mobile Device -*-*-*-*-* */
@media screen and (max-width: 576px) {
  .nav {
    padding: 20px 20px;
  }
  .menu {
    display: none;
  }

  .main_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_content {
    max-width: 100%;
  }
  .buttons {
    justify-content: center;
  }

  .image_content {
    margin-top: 20px;
  }
  .top_badge {
    top: 23%;
    right: 0%;
  }
  .bottom_badge {
    bottom: 13%;
    left: -3%;
  }
  .join_btn,
  .download_btn {
    padding: 8px 10px;
  }

  .fitness_container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    text-align: left;
  }
  .content p {
    font-size: 14px;
    font-weight: 400;
  }
}

.join-btn {
  width: 100%;
}

/* *-*-*-*- Responsive For Tablet Device -*-*-*-*-* */

.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 20px 20px;
  }

  .buttons {
    justify-content: center;
  }
  .menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
  }

  .menu.active li {
    padding: 10px 0;
    text-align: center;
  }

  .main_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_content {
    max-width: 100%;
  }

  .image_content {
    margin-top: 20px;
    position: relative;
  }

  .top_badge {
    top: 10%;
    right: 5%;
  }

  .bottom_badge {
    bottom: 10%;
    left: 5%;
  }

  .join_btn,
  .download_btn {
    padding: 12px 24px;
  }
}

/* ======= Fitness Section style Start ======= */

.fitness_section h1 {
  font-size: 2rem;
}

.fitness_section p {
  font-size: 1rem;
}

.join_btn {
  padding: 10px 20px;
}
